# .gitignore
#
# List of files that is never included in the git repository
# A. Kopmann, 20.11.09
#
#
# Files created by the autotools
aclocal.m4
autom4te.cache
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
*.m4
depcomp
install-sh
missing
mkinstalldirs
config.guess
config.sub
ltmain.sh
#
# Objects and libraries and applications
*.o
*.a
.deps/
src/kitcube-devices/test-device
src/kitcube-data/kitcube-data
src/kitcube-data/kcd-*
src/kitcube-reader/kitcube-reader
src/kitcube-reader/kitcube-reader-mysql
src/kitcube-reader/kitcube-monitor
src/kitcube-reader/kcr-*
src/bsddate/bsddate
etc/kcr-*
#
# Sample data files
#
etc/*.template
releases/*/kitcube-tools/*.template
#
# Package tar-balls
*.tar.gz
*.tgz
#
# Documentation created automatically for the package
kitcube-tools-api
kitcube-tools.tag
kitcube-tools.log
#
# Configuration file maintained as configure input
kitcube-tools.doxygen
kitcube-tools.spec
#
# Package log files
.kitcube-*
#
# Old files
*~
*.old
*.off
*.orig
*.bak
old/*
#
# Links from other packages
#akutil
#fdhwlib.h
fdhwlib
#
# Files from Mac OS
._*
.DS_Store
#
# Files from Linux
.#*
.*.swp
#
# Python
*.pyc
#
# bin log files
bin/*txt
bin/*log
bin/*.1
bin/tmp/
#
kitcube-status/
kitcube-status-0.1/
# 
# Doxygen generated html files
docs/html/
docs/latex/
